.footer-section {
    padding: 20px 0;
    background: var(--dark-color);
}


.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}


.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}


.footer-section .social-link-list .social-link {
    font-size: var(--font-size-1);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
    color: var(--secondary-color);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--white-color);
}

@media screen and (max-width: 640px) {
    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
}